servicio-facturacion/src/main/resources/schemas/factura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.autonoma.com/proyecto/facturas"
           targetNamespace="http://www.autonoma.com/proyecto/facturas"
           elementFormDefault="qualified">

    <xs:element name="crearFacturaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id_pedido" type="xs:string"/>
                <xs:element name="monto_total" type="xs:double"/>
                <xs:element name="datos_cliente" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="crearFacturaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id_factura" type="xs:long"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>